*{
    margin:0;
    padding:0;
}
body{
    width:100%;
    
}
/*
.wrap{
    width: 320px;
    height: 480px;
    margin: 0 auto;
    position: relative;
    background: url(res/bg.png);
    background-size: contain;
}
*/
.wrap{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background: url(res/bg.jpg);
        background-size: 100% 100%;
}
.page{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    display: none;
}
@-webkit-keyframes welcome{
    0%{
        background-size: 80%;
        background-position: center 10%;
    }
    50%{
        background-size: 70%;
        background-position: center 10%;
    }
}
#welcome{
    background: url(res/logo.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center 10%;
    -webkit-animation: welcome 2s ease 100;
}
#game_over_image,#you_win_image{
    position: absolute;
    width: auto;
    height: auto;
    top: 10px;
    left:5%;
    right:5%;
    display: none;
}
#game_over_image img,#you_win_image img{
    width: 100%;
}
#info{
    position: absolute;
    left: 5%;
    right: 5%;
    top: 50%;
    color: #fff;
}
@-webkit-keyframes start_button{
    0%{
        top: -100%;
        left: 10px;
        right: 10px;
    }
    80%{
        top: 65%;
        left: 10px;
        right: 10px;
    }
    100%{
        top: 65%;
        left: 50px;
        right: 50px;
    }
}

#start_button{
    position: absolute;
    width: auto;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #ccc;
    top: 65%;
    right: 50px;
    left: 50px;
    border-radius: 4px;
    font-weight: 900;
    background: rgba(235,102,14,.9);
    color: #fff;
    -webkit-animation: start_button 2s ease 1;
}
#restart_button{
    position: absolute;
    width: 40%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #ccc;
    top: 45%;
    left: 5%;
    border-radius: 4px;
    font-weight: 900;
    background: rgba(235,102,14,.9);
    color: #fff;
}
#share_button{
    position: absolute;
    width: 40%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: rgba(235,102,14,.9);
    top: 45%;
    right: 5%;
    border-radius: 4px;
    font-weight: 900;
    color: #fff;
}
@-webkit-keyframes download_button{
    0%{
        top: 650%;
    }
    80%{
        top: 50%;
    }
    100%{
        top: 65%;
    }
}
#download_button{
    position: absolute;
    width: auto;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: rgba(255,54,0,.9);
    top: 65%;
    left: 5%;
    right: 5%;
    border-radius: 4px;
    font-weight: 900;
    color: #fff;
    text-decoration: none;
    -webkit-animation: download_button 2s ease 1;
}
#share{
    background: url(res/share.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 10px;
    bottom: 0px;
}

#msg{
    position: absolute;
    top: 25%;
    color: #fff;
    left: 10px;
    right: 10px;
    height: auto;
    font-size: 16px;
    line-height: 25px;
}
#msg span{
    color: #f00;
    font-size: 18px;
    font-weight: 900;
}
#ufopan{
    position: absolute;
    top: 0px;
    left: 50%;
    right: 0px;
}
@-webkit-keyframes ufo_come{
    0%{
        left:-800px;
        -webkit-transform:rotate(10deg);
    }
    50%{
        -webkit-transform:rotate(-10deg);
    }
    100%{
        left:-140px;
        -webkit-transform:rotate(10deg);
    }
}
@-webkit-keyframes ufo{
    0%{
        
        -webkit-transform:rotate(10deg);
    }
    50%{
        -webkit-transform:rotate(-10deg);
    }
    100%{
        
        -webkit-transform:rotate(10deg);
    }
}
@-webkit-keyframes ufo_go{
    0%{
        left:-140px;
    }
    100%{
        left:1440px;
    }
}
#ufo{
    background: url(res/ufo.png);
    position: absolute;
    top: 10px;
    left: -140px;
    width: 280px;
    height: 94px;
    background-size: 100% 100%;
    -webkit-transform:rotate(0deg);
    -webkit-animation: ufo_come 0.5s ease 0s 1;
}
#ufo #com{
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 22px;
    font-weight: 900;
    color: #000;
}
#line_l{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: url(res/l.png);
    background-position: 0px 40px;
    background-size: 100% 100%;
    opacity: 0.3;
    display: none;
}
#line_m{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: url(res/m.png);
    background-position: 0px 40px;
    background-size: 100% 100%;
    opacity: 0.3;
    display: none;
}
#line_r{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: url(res/r.png);
    background-position: 0px 40px;
    background-size: 100% 100%;
    opacity: 0.3;
    display: none;
}
@-webkit-keyframes man1{
    from{
        left: 100%;
    }
    to{
        left: 5%;
    }
}
@-webkit-keyframes man_1_fly{
    from{
        -webkit-transform:scale(1,1);
        bottom: 20px;
        left: 5%;
        opacity: 1;
    }
    to{
        left: 35%;
        bottom: 65%;
        opacity: 0;
        -webkit-transform:scale(0.2,0.2);
    }
}
.man_1_fly{
    position: absolute;
    width: 90px;
    height: 172px;
    bottom: 65%;
    left: 35%;
    opacity: 0;
    background-size: 100% 100%,100% 50%;
    -webkit-animation: man_1_fly 0.2s ease-out 1;
}
@-webkit-keyframes man2{
    from{
        left: 100%;
    }
    to{
        left: 35%;
    }
}
@-webkit-keyframes man3{
    from{
        right: -100%;
    }
    to{
        right: 10px;
    }
}
.man_1{
    position: absolute;
    background: url(res/man.png),url(face/0.png);
    width: 90px;
    height: 172px;
    bottom: 20px;
    background-size: 100% 100%,100% 50%;
    background-repeat: no-repeat;
    left: 5%;
    -webkit-animation: man1 0.1s ease 1;
}
#canvas span{
    position: absolute;
    top: 98px;
    left: 0px;
    right: 0px;
    font-size: 14px;
    font-weight: 900;
    color: #000;
    text-align: center;
}
.man_2{
    position: absolute;
    background: url(res/man.png),url(face/1.png);
     width: 90px;
    height: 172px;
    bottom: 20px;
    background-size: 100% 100%,100% 50%;
    background-repeat: no-repeat;
    left: 37%;
    -webkit-animation: man2 0.2s ease 1;
}
@-webkit-keyframes man_2_fly{
    from{
        -webkit-transform:scale(1,1);
        bottom: 20px;
        left: 37%;
        opacity: 1;
    }
    to{
        left: 37%;
        bottom: 65%;
        opacity: 0;
        -webkit-transform:scale(0.2,0.2);
    }
}
.man_2_fly{
    position: absolute;
    width: 90px;
    height: 172px;
    bottom: 65%;
    left: 37%;
    opacity: 0;
    -webkit-transform:scale(0.2,0.2);
    background-size: 100% 100%,100% 50%;
    -webkit-animation: man_2_fly 0.2s ease-out 1;
}
.man_3{
    position: absolute;
    background: url(res/man.png),url(face/5.png);
    width: 90px;
    height: 172px;
    bottom: 20px;
    background-size: 100% 100%,100% 50%;
    background-repeat: no-repeat;
    right: 10px;
    -webkit-animation: man3 0.3s ease 1;
}
@-webkit-keyframes man_3_fly{
    from{
        -webkit-transform:scale(1,1);
        bottom: 20px;
        left: 75%;
        opacity: 1;
    }
    to{
        left: 35%;
        bottom: 65%;
        opacity: 0;
        -webkit-transform:scale(0.2,0.2);
    }
}
.man_3_fly{
    position: absolute;
    width: 90px;
    height: 172px;
    bottom: 65%;
    left: 35%;
    opacity: 0;
    -webkit-transform:scale(0.2,0.2);
    background-size: 100% 100%,100% 50%;
    -webkit-animation: man_3_fly 0.2s ease-out 1;
}
@-webkit-keyframes mars{
    from{
        bottom: -100px;
    }
    to{
        bottom: 0px;
    }
}
#mars{
    background: url(res/mars.png);
    width: 100%;
    height:25%;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    -webkit-animation: mars 3s ease 1;
}
#bar{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 30px;
}
#geticon{
    position: absolute;
    top: 0px;
    left: 0px;
}
#getmans{
    position: absolute;
    top: 0px;
    left: 30px;
    color: #f00;
    font-size: 25px;
}
#clock{
    position: absolute;
    top: 0px;
    right: 50px;
    opacity: 0.5;
}
#time{
    position: absolute;
    top: 0px;
    right: 10px;
    color: #f00;
    font-size: 25px;
}
#copylogo{
    position: absolute;
    
}
.copy{
    position: absolute;
    bottom: 2px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-weight: 900;
}
.copy2{
    position: absolute;
    bottom: 2px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 12px;
    height: 60px;
    line-height: 30px;
    color: #fff;
    font-weight: 900;
}
@media screen and (max-width: 640px){
    
}